body {
    margin: 0;
    transition: 15s;
    -webkit-transition: 15s;
    -moz-transition: 15s;
    -ms-transition: 15s;
    -o-transition: 15s;
    background-color: #000;
    color: white;
    font-family: "Formula Condensed";
    font-style: italic;
    font-size: 30px;
}

::selection {
    background-color: white;
    color: black;
}

main {
    height: auto;
    width: auto;
    background-color: #000;
    opacity: 0.9;
    border-radius: 200px 0 50px 0;
    -webkit-border-radius: 200px 0 50px 0;
    -moz-border-radius: 200px 0 50px 0;
    -ms-border-radius: 200px 0 50px 0;
    -o-border-radius: 200px 0 50px 0;
}

header {
    font-size: 200px;
    text-align: center;
    padding: 20px;
}

p {
    text-align: center;
    padding: 10px;
    width: auto;
    margin: auto;
}

#contact {
    width: 190px !important;
    cursor: pointer;
}

.hide {
    display: none;
}

#revealProj {
    cursor: pointer;
}

img {
    height: 500px;
    width: 500px;
    display: block;
    margin: 20px auto;
    width: 50%;
    cursor: pointer;
    border: 15px white solid;
    border-radius: 35px 0 35px 0;
    -webkit-border-radius: 35px 0 35px 0;
    -moz-border-radius: 35px 0 35px 0;
    -ms-border-radius: 35px 0 35px 0;
    -o-border-radius: 35px 0 35px 0;
}
